body{
   background-color: #810404;
    border:0;
    padding:0px;
    margin:0px

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    background-color: #fae2e2;
   
}
.image {
    width: 370px;
    margin-top: 50px;
  }
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }
  .footer{
    background-color:rgb(41, 134, 196) ;
    text-align: center;
    width:100%;
    color:aliceblue
}